body {
  margin: 0;
  background-color: #faf9f1;
}

img {
  object-fit: cover;
  border-radius: 7px;
}

#image-cover {
  border-radius: 0;
}

video {
  border-radius: 7px;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5b8d63;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  height: 40vh;
}

h1 {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-align: center;
}

.title-section {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
}

h3.title-section {
  font-size: 24px;
}

.title > .title-section {
  font-size: 19px;
  font-weight: 400;
}

#profile-img {
  border-radius: 50%;
  margin-bottom: 20px;
}

p {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  margin: 0;
}

.intro {
  width: 40%;
}

.separator {
  height: 10vh;
  background-color: #afc8ad;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin: 10px;
}

ul .school-name {
  align-self: center;
  margin-left: 20px;
}

ul.skills {
  flex-direction: row;
  align-items: start;
}

ul.skills li {
  flex: 1;
}

.icon {
  background-color: rgb(233, 236, 239);
  color: black;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}

ul .container {
  align-items: start;
  margin: 10px;
}

.project .right-align {
  align-items: end;
}

.video-container {
  flex-direction: row;
  width: 100%;
}

.donut {
  width: 50%;
}

.right-align p {
  text-align: end;
}

.img-right {
  order: 1;
}

button {
  font-size: 1.3rem;
  padding: 10px;
  margin-top: 15px;
}

.main {
  background-color: black;
  color: white;
  border-radius: 8px;
}

.secondary {
  background-color: #faf9f1;
  border-radius: 30px;
}

footer.container {
  padding: 45px;
  margin: 0;
  color: black;
}

footer div {
  margin-bottom: 35px;
}

footer a {
  color: black;
  margin: 25px;
}

@media (max-width: 750px) {
  .title-section {
    text-align: center;
  }

  .intro {
    width: 85%;
  }

  ul {
    padding: 0;
  }

  li {
    flex-direction: column;
  }

  ul.skills {
    flex-direction: column;
  }

  ul.skills li {
    flex-direction: row;
  }

  .project img {
    width: 100%;
  }

  .img-right {
    order: 0;
  }

  video {
    width: 100%;
    margin: 0;
  }

  .donut {
    width: 49.5%;
    margin: 3px;
  }

  div.container.video-container {
    margin: 0;
  }

  #contact-me p {
    width: 85%;
  }
}
